<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Thymeleaf</title>
</head>
<body>
<h1>Hello Thymeleaf</h1>
<p th:text="${msg}">메시지</p>
<!--    <p th:text="${msg2}">메시지2</p>-->
<p>[[${msg2}]]</p>
<section>
    <form th:method="post">
        <label>
            이름 : <input th:name="name">
        </label>
        <label>
            가격 : <input th:name="price">
        </label>
        <button>생성</button>
    </form>
</section>
<section>
    <p th:each="pizza : ${pizzas}">
        [[${pizza}]] / [[${pizza.name}]] / [[${pizza.price}]]
        <code th:text="${pizza.name}"></code>
        <code th:text="${pizza.price}"></code>
    </p>
</section>
</body>
</html>